*~
*#
*.swp
*.seed
*.log
*.out
*.pid
*.iml
yarn.lock
.DS_Store

static/service-worker.js
webpack-assets.json
webpack-stats.json
webpack/dlls/*.json
api/**/*.nedb
*.report.html

.idea/
.happypack/
node_modules/
static/dist/
